# # Clerk Authentication
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
# CLERK_SECRET_KEY=sk_test_...
# NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
# NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# # Clerk Webhook Secret
# CLERK_WEBHOOK_SECRET=whsec_...

# # Supabase Database
# NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
# SUPABASE_SERVICE_ROLE_KEY=eyJ...

# # Vapi Voice API
# NEXT_PUBLIC_VAPI_PUBLIC_KEY=...
# VAPI_PRIVATE_API_KEY=...
# VAPI_ASSISTANT_ID=...


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3RlYWR5LWR1Y2tsaW5nLTc1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_DjPgNn7PBlZjit3IHplzAm0oy6EmMYgDiLWgAkWEC7


NEXT_PUBLIC_SUPABASE_URL=https://kgxezulqgyjqjscjehih.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GUislBpiS1ps1CYnSRuhNA_Qdt0NV1g

NEXT_PUBLIC_VAPI_PUBLIC_KEY=af3fbc23-b3ce-4cc3-8fbc-320a100a8a4d
VAPI_PRIVATE_API_KEY=c790a055-7b6c-4ac4-b69a-73c47533984d